<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Login Page</h1>
                                </div>
                                <form class="user" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Enter Email Address..."
                                            formControlName="userName"
                                            >
                                            <span class="help-block" *ngIf="loginForm.controls.userName.invalid && (loginForm.controls.userName.touched || loginForm.controls.userName.dirty)">
                                                <span class="help-block" *ngIf="loginForm.controls.userName.errors['required']">Enter your email address!
                                                </span>
                                                <span class="help-block" *ngIf="loginForm.controls.userName.errors
                                                ['pattern']">Please enter a valid email</span>
                                                
                                            </span>

                                            <span class="help-block" *ngIf="(loginForm.controls.userName.value === null)
                                            && loginForm.controls.userName.invalid && submitted 
                                            && loginForm.controls.userName.untouched">
                                                Email is required !
                                            </span>
                                            
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password"
                                            formControlName="password"
                                            >
                                            <span class="help-block" *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched )">
                                                <span *ngIf="loginForm.controls.password.errors['required']">Enter your password!</span>
                                            </span>

                                            <span class="help-block" *ngIf="(loginForm.controls.password.value === null)
                                            && loginForm.controls.password.invalid && submitted
                                            && loginForm.controls.password.untouched">
                                                Password is required !
                                            </span>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck"
                                            formControlName="rememberMe"
                                            >
                                            <label class="custom-control-label" for="customCheck"
                                            >Remember
                                                Me</label>
                                        </div>
                                    </div>
                                    

                                    <!-- <span *ngIf="submitted">
                                        <span class="help-block" style="margin-bottom: 10px;" *ngIf="(loginForm.controls.userName.value == null &&  
                                        !loginForm.controls.userName.touched) && ( loginForm.controls.password.value == null && !loginForm.controls.password.touched)
                                        ">You haven't submitted any data.<br></span>
                                        <span class="help-block" style="margin-bottom: 10px;" *ngIf="(loginForm.controls.userName.value == null &&
                                        loginForm.controls.password.touched && !loginForm.controls.userName.touched)">Please enter your email address!<br></span>
                                    </span> -->

                                    <button type="submit" class="btn btn-primary"
                                    style="margin-top: 15px;">Login</button>
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
